.red{
    background-color: hsla(1, 100%, 55%, 0.53);
}

.green{
    background-color: hsla(121, 100%, 55%, 0.53);
}

input.small{
    max-width: 80px;
}

.bottomMarg{
    margin-bottom: 10px;
}

div.otherFight{
    display: none;
}
ul.nav.navbar-nav{
	cursor: pointer;
}
ul.nav.navButtons li:hover{
	background-color: #E7E7E7;
}

.table-responsive{
	margin-top: 5px;
}

table.table.v-centering td{
	vertical-align: middle;
}